.whmis {
  margin: 0;
  max-width: 40px;
}
body {
  width: 600px;
  background-color: white;
  margin: 0 auto;
  padding: 25px;
  margin-top: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
}
table {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 12px;
}
th {
  font-size: 18px;
}
th,
td {
  border: 1px solid grey;
  padding: 8px;
}
th {
  background-color: whitesmoke;
}
html {
  background-image: url("img/chem-background.jpg");
}
h4,
td {
  margin: 0;
}
.tablep {
  margin: 0;
}
/*
input {
  display: block;
  margin: auto;
}
*/
.atom {
  max-width: 100px;
}
input {
  margin-top: 15px;
}
sub {
  font-size: 12px;
}
